# Common Libs
matplotlib==3.9.3
PyYAML==6.0.2
rospkg==1.5.1
opencv_python==4.10.0.84
rospy==1.17.0

# Especific Libs: grs
scikit_learn==1.6.0
mediapipe==0.10.20
ultralytics==8.3.51

# Especific Libs: rospy_uav
cv_bridge==1.16.2
dynamic_reconfigure==1.7.3
sensor_msgs==1.13.1
